name: Extension CI

on:
  push:
    branches:
      - main
    tags: 
      - 'releases/**'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      node-version: 22.x # See Node.js release schedule: https://nodejs.org/en/about/releases/
    outputs:
      new_tag: ${{ steps.find_version.outputs.new_tag }}
      changelog: ${{ steps.find_version.outputs.changelog }}
      vsixPath: ${{ steps.package.outputs.vsixPath }}

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      
      - run: pnpm install --frozen-lockfile

      - name: Fetch next version
        uses: mathieudutour/github-tag-action@v6.1
        id: find_version
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          dry_run: true

      - run: pnpm run lint

      - run: pnpm run check-types

      # - name: pnpm run test
      #   uses: GabrielBB/xvfb-action@v1.0
      #   with:
      #     run: pnpm run test

      - name: Set package.json version to ${{ steps.find_version.outputs.new_tag }}
        run: >
          cp package.json tmp.json;
          jq -r '.version |= "${{ steps.find_version.outputs.new_version }}"' tmp.json > package.json;
          rm -rf tmp.json

      - name: Package as `flagpole-explorer-${{ steps.find_version.outputs.new_version }}.vsix`
        id: package
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: FAKE_FOR_PACKAGE
          dryRun: true

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # 4.6.2
        with:
          path: ${{ steps.package.outputs.vsixPath }}

  publish:
    needs: build
    runs-on: ubuntu-latest
    env:
      node-version: 22.x # See Node.js release schedule: https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # 5.0.0

      - name: Sentry Release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          release: ${{ needs.build.outputs.new_tag }}
          ignore_missing: true
          set_commits	: skip

      - name: Create GitHub release tag ${{ needs.build.outputs.new_tag }}
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ needs.build.outputs.new_tag }}
          name: Release ${{ needs.build.outputs.new_tag }}
          body: ${{ needs.build.outputs.changelog }}
          artifacts: ${{ needs.build.outputs.vsixPath }}

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OVSX_REGISTRY_TOKEN }}
          extensionFile: ${{ needs.build.outputs.vsixPath }}

      - name: Publish to VSCode Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          extensionFile: ${{ needs.build.outputs.vsixPath }}
          registryUrl: https://marketplace.visualstudio.com
